<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>智能家居-购买家居</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="https://show.17sucai.com/preview/3/2022-07-08/%E5%AE%B6%E5%B1%85%E5%95%86%E5%9F%8E/%E2%95%9D%E2%95%A5%E2%95%9B%E2%95%99%E2%95%94%E2%95%A0%E2%94%82%E2%95%9F/site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="https://show.17sucai.com/preview/3/2022-07-08/%E5%AE%B6%E5%B1%85%E5%95%86%E5%9F%8E/%E2%95%9D%E2%95%A5%E2%95%9B%E2%95%99%E2%95%94%E2%95%A0%E2%94%82%E2%95%9F/assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="assets/css/lightslider.min.css">
    <link rel="stylesheet" href="assets/css/price_rangs.css">
    <link rel="stylesheet" href="assets/css/gijgo.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/animated-headline.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <script src="assets/js/angular.min.js"></script>
    <script src="assets/js/globe.js"></script>
    <script src="assets/js/jquery.min.js"></script>
</head>
<style>
    #b{
        display: none;
    }
    #c{
        display: none;
    }
    #d{
        display: none;
    }
    #e{
        display: none;
    }
</style>
<body ng-app="myApp" ng-controller="myCtrl" ng-init="init()">
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/picture/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start-->
    <header>
        <!-- Header Start -->
        <div class="header-area">
            <div class="main-header header-sticky">
                <div class="container-fluid">
                    <div class="row menu-wrapper align-items-center justify-content-between">
                        <div class="header-left d-flex align-items-center">
                            <!-- Logo -->
                            <div class="logo">
                                <a href="index.html"><img src="assets/picture/logo.png" alt=""></a>
                            </div>
                            <!-- Logo-2 -->
                            <div class="logo2">
                                <a href="index.html"><img src="assets/picture/loder.png" alt=""></a>
                            </div>
                            <!-- Main-menu -->
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="index.html">首页</a></li> 
                                        <li><a href="product.html">产品</a></li>
                                        <li><a href="about.html">关于</a></li>
                                        <li><a href="#">登录</a>
                                            <ul class="submenu">
                                                <li><a href="login.html">登录</a></li>
                                                <li><a href="register.html">注册</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="blog.html">博客</a>
                                            <ul class="submenu">
                                                <li><a href="blog.html">博客</a></li>
                                                <li><a href="blog_details.html">博客信息</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">联系</a></li>
                                    </ul>
                                </nav>
                            </div>   
                        </div>
                        <div class="header-right1 d-flex align-items-center">
                            <div class="search">
                                <ul class="d-flex align-items-center">
                                    <li>
                                        <a href="login.html" class="account-btn" target="_blank">我的账户</a>
                                    </li>
                                    <li>
                                        <div class="card-stor">
                                            <img src="assets/picture/card.svg" alt="">
                                            <span>0</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <main>
        <!--? slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <div class="single-slider hero-overly2  slider-height2 d-flex align-items-center slider-bg2">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-8 col-md-8">
                                <div class="hero__caption hero__caption2">
                                    <h1 data-animation="fadeInUp" data-delay=".4s">购买家居</h1>
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="index.html">首页</a></li>
                                            <li class="breadcrumb-item"><a href="useralldevice.html">所有家居信息</a></li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- slider Area End-->
        <!--================Cart Area =================-->
        <section class="cart_area section-padding40">
            <div class="container">
                <div class="cart_inner">
                    <div class="sparkline12-graph">
                        <div class="basic-login-form-ad">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="all-form-element-inner">
                                        <form>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <label class="login2 pull-right pull-right-pro">家居设备号：</label>
                                                    </div>
                                                    <div class="col-lg-9">
                                                        <input type="text" class="form-control" ng-model="macAddress" readonly/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <label class="login2 pull-right pull-right-pro">类型：</label>
                                                    </div>
                                                    <div class="col-lg-9">
                                                        <input type="text" class="form-control" ng-model="type" readonly/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <label class="login2 pull-right pull-right-pro">家居描述：</label>
                                                    </div>
                                                    <div class="col-lg-9">
                                                        <input type="text" class="form-control" ng-model="description" readonly/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <label class="login2 pull-right pull-right-pro">创建时间：</label>
                                                    </div>
                                                    <div class="col-lg-9">
                                                        <input type="datetime-local" step="1" class="form-control" ng-value="time" ng-model="createTime" readonly/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <label class="login2 pull-right pull-right-pro">图片预览：</label>
                                                    </div>
                                                    <div class="col-lg-1">
                                                        <input class="form-control" type="hidden" ng-model="picture"/>
                                                        <img src="{{url}}{{picture}}" alt="attachment" width="100" id="preview">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <label class="login2 pull-right pull-right-pro"><h4 style="font-weight: 1000;">选择保修期：</h4></label>
                                                    </div>
                                                    <div style="padding-top: 10px">
                                                        <input type="radio" name="time" ng-checked="1" onchange='display1()' ng-model="level" value="1">一个月：
                                                    </div>
                                                    <div style="padding-top: 10px">
                                                        <input type="radio" name="time" onchange='display2()' ng-model="level" value="3">三个月：
                                                    </div>
                                                    <div style="padding-top: 10px">
                                                        <input type="radio" name="time" onchange='display3()' ng-model="level" value="6">六个月：
                                                    </div>
                                                    <div style="padding-top: 10px">
                                                        <input type="radio" name="time" onchange='display4()' ng-model="level" value="12">一年：
                                                    </div>
                                                    <div style="padding-top: 10px">
                                                        <input type="radio" name="time" onchange='display5()' ng-model="level" value="36">三年：
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <div class="row">
                                                    <div class="col-lg-3">
                                                        <label class="login2 pull-right pull-right-pro">付款二维码:</label>
                                                    </div>
                                                    <div class="col-lg-1">
                                                        <img src="{{url}}{{pay}}" alt="attachment" width="100" id="a">
                                                        <img src="{{url}}{{pay}}" alt="attachment" width="100" id="b">
                                                        <img src="{{url}}{{pay}}" alt="attachment" width="100" id="c">
                                                        <img src="{{url}}{{pay}}" alt="attachment" width="100" id="d">
                                                        <img src="{{url}}{{pay}}" alt="attachment" width="100" id="e">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group-inner">
                                                <button type="submit" ng-click="charge()" class="btn btn-custon-four btn-primary">免付款</button>
                                                <button type="submit" ng-click="alipay()" class="btn btn-custon-four btn-primary">支付宝支付</button>
                                                <button type="submit" ng-click="pay()" class="btn btn-custon-four btn-primary">付款</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Cart Area =================-->
        <!--? Services Area Start -->
        <div class="categories-area section-padding40 gray-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                            <div class="cat-icon">
                                <img src="assets/picture/services1.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5>快速免费送货</h5>
                                <p>所有订单免费送货</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
                            <div class="cat-icon">
                                <img src="assets/picture/services2.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5>安全支付</h5>
                                <p>所有订单免费送货</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
                            <div class="cat-icon">
                                <img src="assets/picture/services3.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5>退款保证</h5>
                                <p>所有订单免费送货</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat mb-50 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="cat-icon">
                                <img src="assets/picture/services4.svg" alt="">
                            </div>
                            <div class="cat-cap">
                                <h5>在线支持</h5>
                                <p>所有订单免费送货</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--? Services Area End -->
    </main>
    <footer>
        <div class="footer-wrapper">
           <!-- Footer Start-->
           <div class="footer-area footer-padding">
               <div class="container ">
                   <div class="row justify-content-between">
                       <div class="col-xl-4 col-lg-3 col-md-8 col-sm-8">
                           <div class="single-footer-caption mb-50">
                               <div class="single-footer-caption mb-30">
                                   <!-- logo -->
                                   <div class="footer-logo mb-35">
                                       <a href="index.html"><img src="assets/picture/loder.png" alt=""></a>
                                   </div>
                                   <div class="footer-tittle">
                                       <div class="footer-pera">
                                           <p>点亮您的家居世界，开启智能生活新篇章</p>
                                       </div>
                                   </div>
                                   <!-- social -->
                                   <div class="footer-social">
                                       <a href="#"><i class="fab fa-twitter"></i></a>
                                       <a href="javascript:;"><i class="fab fa-facebook-f"></i></a>
                                       <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                   </div>
                               </div>
                           </div>
                       </div>
                       <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                           <div class="single-footer-caption mb-50">
                               <div class="footer-tittle">
                                   <h4>快速链接</h4>
                                   <ul>
                                       <li><a href="#">图像许可证</a></li>
                                       <li><a href="#">风格指南</a></li>
                                       <li><a href="#">隐私政策</a></li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                       <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                           <div class="single-footer-caption mb-50">
                               <div class="footer-tittle">
                                   <h4>家居类别</h4>
                                   <ul>
                                        <li><a href="#">图像许可证</a></li>
                                        <li><a href="#">风格指南</a></li>
                                        <li><a href="#">隐私政策</a></li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                       <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4">
                           <div class="single-footer-caption mb-50">
                               <div class="footer-tittle">
                                   <h4>合作伙伴</h4>
                                   <ul>
                                        <li><a href="#">图像许可证</a></li>
                                        <li><a href="#">风格指南</a></li>
                                        <li><a href="#">隐私政策</a></li>
                                   </ul>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <!-- footer-bottom area -->
           <div class="footer-bottom-area">
               <div class="container">
                   <div class="footer-border">
                       <div class="row d-flex align-items-center">
                           <div class="col-xl-12 ">
                               <div class="footer-copy-right text-center">
                                   <p>
                                      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="javascript:;" target="_self">xy</a>
                                      </p>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <!-- Footer End-->
          </div>
      </footer>
      <!-- Scroll Up -->
      <div id="back-top">
        <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
    </div>

    <!-- JS here -->
    <!-- Jquery, Popper, Bootstrap -->
    <script src="assets/js/modernizr-3.5.0.min.js"></script>
    <script src="assets/js/jquery-1.12.4.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Slick-slider , Owl-Carousel ,slick-nav -->
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/slick.min.js"></script>
    <script src="assets/js/jquery.slicknav.min.js"></script>

    <!-- One Page, Animated-HeadLin, Date Picker -->
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/animated.headline.js"></script>
    <script src="assets/js/jquery.magnific-popup.js"></script>
    <script src="assets/js/gijgo.min.js"></script>

    <!-- Nice-select, sticky,Progress -->
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/jquery.sticky.js"></script>
    <script src="assets/js/jquery.barfiller.js"></script>
    
    <!-- counter , waypoint,Hover Direction -->
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.countdown.min.js"></script>
    <script src="assets/js/hover-direction-snake.min.js"></script>

    <!-- contact js -->
    <script src="assets/js/contact.js"></script>
    <script src="assets/js/jquery.form.js"></script>
    <script src="assets/js/jquery.validate.min.js"></script>
    <script src="assets/js/mail-script.js"></script>
    <script src="assets/js/jquery.ajaxchimp.min.js"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/main.js"></script>
    
    <script>
        function change() {
            var pic = document.getElementById("preview"),
                file = document.getElementById("fileUpload");
            var ext = file.value.substring(file.value.lastIndexOf(".") + 1).toLowerCase();
            // gif在IE浏览器暂时无法显示
            if (ext != 'png' && ext != 'jpg' && ext != 'jpeg') {
                alert("图片的格式必须为png或者jpg或者jpeg格式！");
                file.value = '';
                return;
            }
            var isIE = navigator.userAgent.match(/MSIE/) != null,
                isIE6 = navigator.userAgent.match(/MSIE 6.0/) != null;
            if (isIE) {
                file.select();
                var reallocalpath = document.selection.createRange().text;
                // IE6浏览器设置img的src为本地路径可以直接显示图片
                if (isIE6) {
                    pic.src = reallocalpath;
                } else {
                    // 非IE6版本的IE由于安全问题直接设置img的src无法显示本地图片，但是可以通过滤镜来实现
                    pic.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='image',src=\"" + reallocalpath + "\")";
                    // 设置img的src为base64编码的透明图片 取消显示浏览器默认图片
                    pic.src = 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==';
                }
            } else {
                html5Reader(file);
            }
        }

        function html5Reader(file) {
            var file = file.files[0];
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function(e) {
                var pic = document.getElementById("preview");
                pic.src = this.result;
            }
        }

        function display1(){
            document.getElementById("e").style.cssText = "display:none;";
            document.getElementById("d").style.cssText = "display:none;";
            document.getElementById("c").style.cssText = "display:none;";
            document.getElementById("b").style.cssText = "display:none;";
            document.getElementById("a").style.cssText = "display:block;";
        }

        function display2(){
            document.getElementById("e").style.cssText = "display:none;";
            document.getElementById("d").style.cssText = "display:none;";
            document.getElementById("c").style.cssText = "display:none;";
            document.getElementById("a").style.cssText = "display:none;";
            document.getElementById("b").style.cssText = "display:block;";
        }

        function display3(){
            document.getElementById("e").style.cssText = "display:none;";
            document.getElementById("d").style.cssText = "display:none;";
            document.getElementById("b").style.cssText = "display:none;";
            document.getElementById("a").style.cssText = "display:none;";
            document.getElementById("c").style.cssText = "display:block;";
        }

        function display4(){
            document.getElementById("e").style.cssText = "display:none;";
            document.getElementById("b").style.cssText = "display:none;";
            document.getElementById("c").style.cssText = "display:none;";
            document.getElementById("a").style.cssText = "display:none;";
            document.getElementById("d").style.cssText = "display:block;";
        }

        function display5(){
            document.getElementById("b").style.cssText = "display:none;";
            document.getElementById("d").style.cssText = "display:none;";
            document.getElementById("c").style.cssText = "display:none;";
            document.getElementById("a").style.cssText = "display:none;";
            document.getElementById("e").style.cssText = "display:block;";
        }
    </script>
    <script type="text/javascript">
        var app=angular.module("myApp",[]);	
        app.controller("myCtrl",function($scope,$http){
            $scope.url = GlobalConfig.IPSSAddress + "device/downloadPic/";
            var userstr = localStorage.getItem("user")
            var user = JSON.parse(userstr)
            var devicestr = localStorage.getItem("leasedevice")
            var device = JSON.parse(devicestr)
            $scope.init = function() {
                $scope.macAddress = device.macAddress;
                $scope.type = device.type;
                $scope.description = device.description;
                $scope.createTime = device.createTime;
                var date = new Date($scope.createTime);
                var y = date.getFullYear();
                var m = date.getMonth() + 1;
                m = m < 10 ? ('0' + m) : m;
                var d = date.getDate();
                d = d < 10 ? ('0' + d) : d;
                var h = date.getHours();
                h=h < 10 ? ('0' + h) : h;
                var minute = date.getMinutes();
                minute = minute < 10 ? ('0' + minute) : minute;
                var second=date.getSeconds();
                second=second < 10 ? ('0' + second) : second;
                var datetime = y + '-' + m + '-' + d+'T'+h+':'+minute+':'+second;
                $scope.time = datetime;
                $scope.picture = device.picture;
                $scope.enable = device.enable;
                console.log(datetime);
            }

            $scope.charge = function() {
                console.log($scope.level);
                console.log("付款" + user.id + "   " + device.macAddress);
                const jsonObj = {
                    "userId": user.id,
                    "macAddress": device.macAddress
                }
                const JSONstr1 = JSON.stringify(jsonObj);
                $http({
                    method: 'POST',
                    url: GlobalConfig.IPSSAddress + 'hold/bind?m=' + $scope.level,
                    data: JSONstr1
                }).then(function successCallback(response) {
                    // 请求成功执行代码
                    console.log(response.data);
                    if (response.data.code == 0) {
                        alert("充值成功");
                    }
                    if (response.data.code == -1) {
                        alert("充值失败");
                    }
                    window.location.href = "useralldevice.html";
                }, function errorCallback(response) {
                    // 请求失败执行代码
                    alert("请求失败");
                    window.location.href = "useralldevice.html";
                });

            }

            $scope.alipay = function() {
                console.log($scope.level);
                console.log("付款" + user.id + "   " + device.macAddress);
                window.location.href = GlobalConfig.IPSSAddress + 'pay/toAliPay?m=' + $scope.level + "&userId=" + user.id + "&macAddress=" + device.macAddress + "&url=http://120.25.232.141:8080/device04_27/login.html";
            }

            var s = Math.random();
            $scope.pay = function() {
                console.info($scope.level);
                s = Math.random();
                $http({
                    method: 'GET',
                    url: GlobalConfig.IPSSAddress + 'hold/pay?userId=' + user.id + '&macAddress=' + $scope.macAddress + '&m=' + $scope.level + '&username=' + user.username
                }).then(function successCallback(response) {
                    console.log(response.data);
                    if (response.data.code == 0) {
                        $scope.pay = user.id + ".png" + "?" + s;
                    } else if (response.data.code == -1) {

                    }
                }, function errorCallback(response) {
                    // 请求失败执行代码
                });
            }
        });
</script>
</body>
</html>