	/*
  	Flaticon icon font: Flaticon
  	Creation date: 03/06/2020 12:20
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("https://show.17sucai.com/preview/3/2022-07-08/%E5%AE%B6%E5%B1%85%E5%95%86%E5%9F%8E/%E2%95%9D%E2%95%A5%E2%95%9B%E2%95%99%E2%95%94%E2%95%A0%E2%94%82%E2%95%9F/assets/fonts/Flaticon.eot");
  src: url("https://show.17sucai.com/preview/3/2022-07-08/%E5%AE%B6%E5%B1%85%E5%95%86%E5%9F%8E/%E2%95%9D%E2%95%A5%E2%95%9B%E2%95%99%E2%95%94%E2%95%A0%E2%94%82%E2%95%9F/assets/fonts/Flaticon.eot?") format("embedded-opentype"),
       url("https://show.17sucai.com/preview/3/2022-07-08/%E5%AE%B6%E5%B1%85%E5%95%86%E5%9F%8E/%E2%95%9D%E2%95%A5%E2%95%9B%E2%95%99%E2%95%94%E2%95%A0%E2%94%82%E2%95%9F/assets/fonts/Flaticon.woff2") format("woff2"),
       url("https://show.17sucai.com/preview/3/2022-07-08/%E5%AE%B6%E5%B1%85%E5%95%86%E5%9F%8E/%E2%95%9D%E2%95%A5%E2%95%9B%E2%95%99%E2%95%94%E2%95%A0%E2%94%82%E2%95%9F/assets/fonts/Flaticon.woff") format("woff"),
       url("https://show.17sucai.com/preview/3/2022-07-08/%E5%AE%B6%E5%B1%85%E5%95%86%E5%9F%8E/%E2%95%9D%E2%95%A5%E2%95%9B%E2%95%99%E2%95%94%E2%95%A0%E2%94%82%E2%95%9F/assets/fonts/Flaticon.ttf") format("truetype"),
       url("https://show.17sucai.com/preview/3/2022-07-08/%E5%AE%B6%E5%B1%85%E5%95%86%E5%9F%8E/%E2%95%9D%E2%95%A5%E2%95%9B%E2%95%99%E2%95%94%E2%95%A0%E2%94%82%E2%95%9F/assets/fonts/Flaticon.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("https://show.17sucai.com/preview/3/2022-07-08/%E5%AE%B6%E5%B1%85%E5%95%86%E5%9F%8E/%E2%95%9D%E2%95%A5%E2%95%9B%E2%95%99%E2%95%94%E2%95%A0%E2%94%82%E2%95%9F/assets/fonts/Flaticon.svg") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-null:before { content: "\f100"; }
.flaticon-null-1:before { content: "\f101"; }
.flaticon-null-2:before { content: "\f102"; }
.flaticon-null-3:before { content: "\f103"; }